/* div {
  font-family: Arial, Helvetica, sans-serif;
}

p,
.translated {
  background-color: #aee2f3;
  padding: 1rem;
}
.box {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
h3 {
  border-bottom: 1px solid black;
}
button {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 1rem;
}

.inner-box {
  padding: 10px;
  margin: 5px;
} */
.temp-form-cnt {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 7%;
}
.card-job-form {
  background-color: white;
  height: 30rem;
  width: 100%;
}
.card-title {
  padding-right: 20px;
}
.form-title {
  display: flex;
  align-items: center;
  /* // padding-right: 30px; */
  justify-content: space-between;
  height: 3.5rem;
  width: 60%;
  background-color: #0066cd;
}
.jobform-title-wrapper {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
.job-form-wrapper {
  margin-top: 3rem;
}
.card-title {
  color: white;
  padding: 0.8rem 0 0 1.5rem;
  font-size: 1.2rem;
  font-family: sans-serif;
  font-weight: 500;
}
.temp-clr-try {
  background-color: #0066cd;
  margin-bottom: 2rem;
}
.form-control {
  margin-bottom: 1.5%;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #0f0f0f;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-floating > .form-control,
.form-floating > .form-select {
  height: calc(3.5rem + 2px);
  line-height: 1.25;
}
.form-floating > .form-control {
  padding: 1rem 0.75rem;
}
.temp-clr-try {
  margin-left: 1.2rem;
}
.job-card {
  height: 25rem;
  overflow-y: scroll;
  width: 50%;
  background-color: white;
}
.job-posting-form-maincont {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.card-body-job-form {
  height: auto;
  width: 100%;
  padding: 1rem 2rem 0 3rem;
}
.job-form-subcont {
  height: auto;
  width: 60%;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 2rem;
}
.form-inp::placeholder {
  opacity: 0.5;
  font-size: 0.9rem;
}
.form-lable-custom {
  color: black;
  font-size: 1rem;
}
.jobID {
  font-weight: 700;
  color: #0066cd;
}
.form-title-cont-nav {
  display: flex;
  justify-content: space-around;
}
.proc-table-items {
  font-size: 1.2rem;
  color: white;
}
.proc-table-item1 {
  padding: 1.5rem 1rem 1rem 1rem;
  font-size: 1rem;
}
.proc-table-item2 {
  padding: 1.5rem 0rem 0.8rem 0rem;
  /* // text-align: right; */
  font-size: 1rem;
}
.proc-table-item3 {
  padding: 1.5rem 2rem 0.8rem 0rem;
  font-size: 1rem;
  text-align: right;
}

.table-hed-3 {
  width: 24.5%;
}
.table-hed-2 {
  width: 26%;
}
.table-hed-1 {
  width: 45%;
}
.internal-box {
  border-bottom: 1px solid grey;
}
